extends ../layout/layout
block content
    h4 Here are your expenses:
    ul
        each expense in expenses
            li #{(expense.amount/100).toFixed(2)} #{expense.currency} for #{expense.reason} at #{expense.creationDate}
    h4 Total expense:
    p
        span #{(total/100).toFixed(2)} GBP
